@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  overflow-x: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  background: #fcffff;
}
img {
  max-width: 100%;
}

.d-none{
    display: none;
}

ul li{
    list-style:none;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

@media (min-width: 280px) {
  a{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    color: #0095a9;
  }
  a:hover,:active{
    color: #3c3c3c;
  }

  img.input-icon{
    width:20px;
    height: auto;  
    margin:8px 5px 5px 15px; 
   
  }

  .form-card{
    width :100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(63, 63, 68, 0.15);
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    display:flexbox;
  }

  .form-card-title{   
    width: 100%;    
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
  }
  .form-card-title .title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    width :95%;
    text-align: start;
    display: block;    
    padding: 5px;
  }



  .form-card-body{
    display: flex;
    justify-content: space-between;
  }

  .form-left{
    display: block; 
    width: 49%;   
  }

  .form-right{
    display: block;    
    width: 49%; 
  }

  #arrow-form {
    transform: rotate(0deg);
    transition: all 0.6s;
  }

  #arrow-form.active {
    transform: rotate(180deg);
  }

  form input{
    height: 40px; 
    background: #F8F8F8;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    margin-top: 24px;
    padding: 10px;
    width: 100%;
  }

  form button{
    margin-top: 24px;
    background: #D3D3D3;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 19px;
    border: 0;
    color: #FFFFFF;
    height: 37;
    width: 50%;
    float: right;
    cursor: pointer;
  }

  
  nav {
    font-family: "Open Sans", sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    background-color: #fcffff;
    z-index: 1000;
  }

  section {
    margin-bottom: 75px;
    padding: 10px;
  }
  .hide-menu {
    display: none;
  }

  .open-menu {
    display: flex;
  }

  .top-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcffff;
    z-index: 1000;
  }
  .top-menu ul li {
    text-align: center;
    list-style: none;
    padding: 20px;
  }
  .top-menu ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #3c3c3c;
    text-decoration: none;
  }

  .top-menu ul li a.active,
  .top-menu ul li a:hover {
    color: #0095a9;
  }

  .top-menu ul li a.btn-rounded-full {
    color: #ffffff;
    font-weight: 600;
  }

  .btn-rounded-full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 60px;
    gap: 10px;
    background: linear-gradient(270deg, #0095a9 0%, #385cad 145.22%);
    box-shadow: 0px 4px 25px rgba(24, 24, 24, 0.25);
    border-radius: 100px;
  }

  .btn-rounded {
    padding: 10px 90px;
    gap: 10px;
    background: linear-gradient(270deg, #0095a9 0%, #385cad 145.22%);
    box-shadow: 0px 4px 25px rgba(24, 24, 24, 0.25);
    border-radius: 100px;
    margin-top: 10px;
  }

  a.btn-rounded {
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
  }

  .hamburger svg {
    width: 35px;
    color: #8c8c8c;
    cursor: pointer;
  }
  .logo {
    padding: 10px 10 10px 10px;
  }
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
  }
  .close svg {
    width: 30px;
  }
  .text-sky,
  .hastag {
    color: #0095a9;
  }

  .hastag-wrapper {
    margin-top: 20px;
    margin-left: -20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hastag {
    padding-left: 25px;
    padding-right: 30px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
  }

  h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;
    /* margin-left: -95px;     */
  }

  p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    text-align: center;
    color: #3c3c3c;
    margin-bottom: 20px;  
    
  }

  .wrapper-AirAlamAsli {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-top: 40px;   
  }

  /*Slide Show*/
  .mySlides {
    display: none;
  }

  .mySlides img {
    vertical-align: middle;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 250px;
    position: relative;
    margin: auto auto auto 4px;
  }

  /* The dots/bullets/indicators */

 
  .dot {
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: #ACD1D6;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dot-active {
    background-color: #0095a9;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  /*End Slide Show*/



  .produk-button {
    display: flex;
    align-items: center;
    padding: 7.70464px 23.1139px;
    gap: 11.56px;
    width: 200px;
    height: 55px;
    background: #0095a9;
    border-radius: 9.6308px;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .produk-button-container span {
    margin-left: 10px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
  }

  .product-title-wrapper img{
    margin: auto;
    display: block;
  }

  .gallery-title-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 20px 20px;
  }

  .gallery-title-wrapper img{
    width: 150px;
    height: auto;
    margin-top: -15px;    
  }

  .gallery-title-wrapper h2{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
  }


  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;    
    margin: 25px;
  }

  .card img {
    border-radius: 10px 10px 0 0;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .card-content {
    padding: 2px 10px;
    display: block;
    
  }
  .card-content p,.card-content span{
    text-align: left;
    padding: 10px;
  }

  .card-content span{
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans';
    font-size: 10px;
    color: #3C3C3C;
    margin-right: 25px;
  }

  .gallery-link{
    width: 100%;
    text-align: center;
  }

  .gallery-progress-wrapper{
    padding: 30px;
  }

  .gallery-progress {
    width: 100%;
    background-color: #ACD1D6; 
    border-radius: 5px;       
  }
  
  .gallery-bar {
    width: 1%;
    height: 5px;
    background-color: #0095a9;
    border-radius: 5px;  
  }


  .youtube-vidio-wrapper{
   
    width: 89%; 
    /* -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%); 
    -webkit-transform: rotate(0.000001deg);  */
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px;
    border-radius: 10px; 
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
   }

   .youtube-vidio-wrapper iframe{
    width:380px;
    height:300px;
   }

   .article{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
   }


  .faq-wrapper{
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid rgba(205, 214, 218, 0.25);    
  }

  .faq-parent{    
    border-bottom: 1px solid rgba(205, 214, 218, 0.25);
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
  }

  .faq-parent div{    
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #3C3C3C;
    padding-bottom: 5px;
  }

  .faq-child{

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #535D62;
    padding-bottom: 5px;

  }

  

  .faq{
    cursor: pointer;
  }

  footer{
    width: 100%;
    padding-top: 10px;
    background: linear-gradient(110.07deg, #0095A9 27.21%, #385CAD 143.61%);
    border-radius: 10px 10px 0px 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    position: relative;
    align-items: center;
    text-align: center;
  }


  footer .address img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 21px;
    margin-bottom: 10px;
  }

  footer p{   
    font-size: 10px;
    line-height: 100%;
    color: #FFFFFF;
  }

  footer small{  
    font-size: 8px;    
  }

  footer .social-med img{
    margin: 5px;
  } 

  .swiper-slideDestroyed{
    margin-bottom: 35px;
  }

  .distributor-header-left{
    width: 100%;
  }  

  .distributor-header-left h2{
    text-align: left;
    margin-left: 0;
    padding-left: 0;
  } 


  .distributor-header-right{
    width: 100%;
    height: 40px;
    background: #EEEEEE;
    border-radius: 10px;
    display: flex;
    align-items:center;
    vertical-align: middle;
  }

  .distributor-header-right p{
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    margin-top: 17px;
  }

  .distributor-body{
    height: 700px;
  }

  table.mnatureTable {
    background-color: #fcffff;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin-top: 20px;
  }
  table.mnatureTable td {
    padding: 10px 10px;
    border-bottom: 2px solid #faf8f7;
  }
  table.mnatureTable tbody{
    box-shadow: 0px 4px 20px rgba(63, 63, 68, 0.15);
    border-radius: 10px;    
  }  
  table.mnatureTable tbody td {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
  }

  table.mnatureTable tbody td.td-label {
    background-color: #0095A9;
    color: #fff;
    width: 40%;  
  }

  table.mnatureTable tbody td.td-button {
    background-color: #4CAF50;
    color: #fff;   
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    padding:5px;      
  }
  
  table.mnatureTable tbody tr td.mnatureTable-head-left{
    border-top-left-radius: 10px;
  }

  
  table.mnatureTable tfoot {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 24px;
  }
  table.mnatureTable tfoot td {
    font-size: 14px;
    border :0;
    padding-right: 0;
    padding-top: 40px;
  }
  table.mnatureTable tfoot .links {
    text-align: right;
  }
  table.mnatureTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color:#3C3C3C;
    padding: 2px 8px;
    border-radius: 4px;
    border: 1px solid #E8E8E8;
  }

  table.mnatureTable tfoot .links a:hover,table.mnatureTable tfoot .links a.active{
    background-color: #0095a9;
    color: #FFFFFF;
  }
 
}


@media (min-width: 320px) {
  section {
    margin-top: 75px;
    padding: 10px;
  }
  
  .top-menu ul li a.btn-rounded-full {
    color: #ffffff;
    font-weight: 600;
  }

  .btn-rounded-full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 60px;
    gap: 10px;
    background: linear-gradient(270deg, #0095a9 0%, #385cad 145.22%);
    box-shadow: 0px 4px 25px rgba(24, 24, 24, 0.25);
    border-radius: 100px;
  }

  .btn-rounded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 60px;
    gap: 10px;
    background: linear-gradient(270deg, #0095a9 0%, #385cad 145.22%);
    box-shadow: 0px 4px 25px rgba(24, 24, 24, 0.25);
    border-radius: 100px;
    margin-top: 10px;
  }

  a.btn-rounded {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
  }

  .logo {
    width: 100px;
    padding: 10px 10 10px 10px;
  }

  .text-sky,
  .hastag {
    color: #0095a9;
  }

  .hastag-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hastag {
    padding-left: 25px;
    padding-right: 30px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }

  h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }

  p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #3c3c3c;
    margin-bottom: 20px;
    padding: 30px;
  }

  .wrapper-AirAlamAsli {
    padding-top: 0px;   
  }

  /*Slide Show*/
  .mySlides {
    display: none;
  }

  .mySlides img {
    vertical-align: middle;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* The dots/bullets/indicators */
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #ACD1D6;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .dot-active {
    background-color: #0095a9;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  /*End Slide Show*/

  /* Slide Show Desktop */

  /* Slideshow Desktop container */
  .slideshow-desktop-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    width: 5px;
    height: 5px;
    padding: 6px 8px 6px 8px;
    color: white;
    font-size: 12px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
    background-color: #0095a9;
  }

  /* Position the "next button" to the right */
  .next {
    margin-left: 10px;
    right: 0;
  }

  /* Position the "prev button" to the right */
  .prev {
    margin-right: 10px;
    right: 0;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* The dots/bullets/indicators */
  .bar {
    cursor: pointer;
    height: 5px;
    width: 60px;
    margin: 0 -4px;
    background-color: #ACD1D6;
    border-radius: 15px;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .bar-active,
  .bar:hover {
    background-color: #0095a9;
  }

  /*End Slide Show Desktop */

  .produk-button {
    display: flex;
    align-items: center;
    padding: 7.70464px 23.1139px;
    gap: 11.56px;
    width: 319px;
    height: 53.93px;
    background: #0095a9;
    border-radius: 9.6308px;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .produk-button-container span {
    margin-left: 10px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #ffffff;
  }

  .product-title-wrapper img{
    margin: auto;
    display: block;
  }

  .gallery-title-wrapper{
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 20px 20px;
  }

  .gallery-title-wrapper img{
    width: 150px;
    height: auto;
    margin-top: -15px;    
  }

  .gallery-title-wrapper h2{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
  }


  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    margin: 25px;
  }

  .card img {
    border-radius: 10px 10px 0 0;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .card-content {
    padding: 2px 10px;
    display: block;
    
  }
  .card-content p,.card-content span{
    text-align: left;
    padding: 10px;
  }

  .card-content span{
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans';
    font-size: 10px;
    color: #3C3C3C;
    margin-right: 25px;
  }

  .gallery-link{
    width: 100%;
    text-align: center;
  }

  .gallery-progress-wrapper{
    padding: 30px;
  }

  .gallery-progress {
    width: 100%;
    background-color: #ACD1D6; 
    border-radius: 5px;       
  }
  
  .gallery-bar {
    width: 1%;
    height: 5px;
    background-color: #0095a9;
    border-radius: 5px;  
  }


  .youtube-vidio-wrapper{
   
    width: 89%; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px;
    border-radius: 10px; 
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
   }

   .youtube-vidio-wrapper iframe{
    width:380px;
    height:300px;
   }

   .article{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
   }


  .faq-wrapper{
    margin-left: 20px;
    margin-right: 20px;
    border-top: 1px solid rgba(205, 214, 218, 0.25);    
  }

  .faq-parent{    
    border-bottom: 1px solid rgba(205, 214, 218, 0.25);
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
  }

  .faq-parent div{    
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3C3C3C;
    padding-bottom: 5px;
  }

  .faq-child{

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #535D62;
    padding-bottom: 5px;

  }

  

  .faq{
    cursor: pointer;
  }

  footer{
    width: 100%;
    padding-top: 20px;
    background: linear-gradient(110.07deg, #0095A9 27.21%, #385CAD 143.61%);
    border-radius: 10px 10px 0px 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    position: relative;
    align-items: center;
    text-align: center;
  }

  

  footer .address img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 21px;
  }

  footer p{   
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
  }

  footer small{  
    font-size: 12px;    
  }

  footer .social-med img{
    margin: 5px;
  }

  
 
}

@media (min-width: 768px) {

  .logo img{
    width: 100px;
  }

  h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: center;   
  }

  p {
    text-align: center;
    color: #3c3c3c;
    padding: 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }
  .btn-rounded {
    display: block;
    margin: auto;
    width: 50%;
    height: 50px;    
  }

  a.btn-rounded {
    text-align: center;
    font-size: 18px;
    text-decoration: none;
  }

  .hastag-wrapper {  
    padding-top: 20px;
    margin-left: auto;  
    margin-right: auto;
    width: 60%
  }

  .hastag {      
    font-size: 16px;       
  }

  .product-title-wrapper img{
    width: 95%;
  }

  .produk-button {    
    width: 500px;
    height: 80px;    
  }

  .produk-button-container span {    
    font-size: 18px;    
  }  

  .gallery-title-wrapper img{
    width: 240px;
    height: auto;
    margin-top: -28px;    
  }

  .gallery-title-wrapper h2{
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 32px;
  }

  .card{
    margin-bottom: 80px;
  }

  small {
    font-size: small;
  }

  .gallery-link a{
    font-size: 20px;
  }

  .youtube-vidio-wrapper{
    margin: auto;
    width: 95%; 
   }

   .youtube-vidio-wrapper iframe{
    width:800px;
    height:500px;
   }

   footer{
    width: 100%;
    padding-top: 20px;
    background: linear-gradient(110.07deg, #0095A9 27.21%, #385CAD 143.61%);
    border-radius: 10px 10px 0px 0px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    position: relative;
    align-items: center;
    text-align: center;
  }

  footer .address img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 130px;
    height: 34px;
        
  }

  footer p{   
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
  }

  footer small{  
    font-size: 12px;    
  }

  footer .social-med img{
    margin: 5px;
  }
}

@media (min-width: 992px) {
  header{
    height: 108px;
    width:100%;
  }
  nav,header{
    z-index: 999;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    background-color: #fcffff;
  }

  section {
    padding-top: 10px;
  }


  .hamburger {
    display: none;
  }
  .top-menu {
    position: relative;
    width: auto;
  }
  .hide-menu {
    display: flex !important;
  }
  .close {
    display: none;
  }

  .top-menu ul li {
    display: inline-block;
    margin: 0;
  }
  .logo img {
    height: 40px;
    width: auto;
    margin-top: 20px;
  }

  .btn-rounded-full {
    background: #fcffff;
    box-shadow: none;
    border: 1px solid #0095a9;
  }

  .top-menu ul li a.btn-rounded-full {
    color: #0095a9;
  }

  .wrapper-AirAlamAsli {
    margin-top: 30px;
    align-items: left;
  }

  .AirAlamAsli-left {
    width: 30%;
    flex-shrink: 0;
    padding-right: 20px;    
  }

  .AirAlamAsli-right {
    padding-left: 100px;
  }

  h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    text-align: left;
    padding-left: 0px;
    padding-right: 110px;
  }

  p {
    text-align: left;
    color: #3c3c3c;
    margin-bottom: 20px;
    padding: 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }
  .btn-rounded {
    width: 95%;
  }

  .hastag-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
  }


  .hastag {
    padding-left: 0px;
    font-weight: 400;
    font-size: 14px;
  }

  .produk-container img {
    margin-top: -100px;
    margin-left: -10px;
  }

  .product-title-wrapper,
  .produk-button-container {
    display: flex;
    justify-content: space-between;
  }

  .produk-button-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .produk-title,
  .product-title-wrapper img {
    margin: auto;
    z-index: 998;
  }
  .produk-button {    
    width: 350px;
    height: 53.93px;    
  }

  .produk-button-container span { 
    font-size: 14px;   
  }

  .product-title-wrapper{
    padding-top: 100px;
  }

  .gallery-title-wrapper{
    padding-top: 100px;
  }

  .faq-title{
    margin-top: 100px;
  }

  .card-wrapper{
    display: flex;
    align-items: flex-start;
  }

  .card {
    width: 90%;
  }

  #Gallery{
    position: relative;
  }

  .gallery-link-desktop img.link-gallery-right{
        position: absolute;
        top: 50%;
        right: 4%;
        width: 45px;
  }

  .gallery-link-desktop img.link-gallery-left{
    position: absolute;
    top: 50%;
    left: 5%;
    width: 45px;
  }

  .swiper-scrollbar {
    background-color: #ACD1D6;
  }

  .swiper-scrollbar-drag {
    background-color: #0095a9;
  }

  .wrapper-video {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .video-left {
    width: 40%;
    flex-shrink: 0;
    padding-right: 20px;
  }
  .vidio-left p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
  }
  .vidio-left p .iso{
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
  }

 

  .youtube-vidio-wrapper{
    margin: auto;
    width: 95%; 
   }

   .youtube-vidio-wrapper iframe{
    width:600px;
    height:350px;
   }

   .faq-title{
      margin-top: 100px;
   }

   .faq-wrapper{
      margin-left: 0px;
      margin-right: 0px;   
   }

   .article{
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 0px;
   }

  .footer-container{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
  }

  footer{    
    padding-top: 50px; 
    align-items: left;
    text-align: left; 
    height: 337px;
    bottom: 0;
  }

  footer p{      
    font-size: 16px;
    line-height: 150%;    
  }

  footer small{
    position:absolute;
    bottom: 15px;
    font-size: 12px;    
  }


  footer .address{
    width: 500px;
  }

  footer a{
    font-size: 16px;   
    color: #FFFFFF;
  }

  footer li{
    margin-top: 15px;
  }

  footer .social-med img{
    margin-right: 10px;
  }

  footer .address img{
    display: block;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 20px;
    width: 130px;
    height: 34px;
  }
  .distributor-header{
    margin-top: 75px;
    display: flex;
    justify-content: space-between;    
  }

  .distributor-header-left{
    width: 40%;
  }  
  .distributor-header-right{
    width: 60%;
    height: 40px;
    background: #EEEEEE;
    border-radius: 10px;
    display: flex;
    align-items:center;
    vertical-align: middle;
  }

  .distributor-header-right p{
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    margin-top: 17px;
  }

  .distributor-body{
    height: 700px;
  }
  
  table.natureTable {
    border: 0px solid #1C6EA4;
    background-color: #fcffff;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.natureTable td, table.natureTable th {
    padding: 10px 20px;
    border-bottom: 2px solid #faf8f7;
  }
  table.natureTable tbody{
    border-left: 1px solid #faf8f7;
    border-right: 1px solid #faf8f7;
    box-shadow: 0px 4px 20px rgba(63, 63, 68, 0.15);
  }  
  table.natureTable tbody td {
    font-size: 12px;
  }
  table.natureTable thead {
    background: #0095A9;
    background: -moz-linear-gradient(top, #40afbe 0%, #199fb1 66%, #0095A9 100%);
    background: -webkit-linear-gradient(top, #40afbe 0%, #199fb1 66%, #0095A9 100%);
    background: linear-gradient(to bottom, #40afbe 0%, #199fb1 66%, #0095A9 100%);
    border-bottom: 0px solid #444444;  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 4px 20px rgba(63, 63, 68, 0.15);     
  }

  table.natureTable thead tr th.natureTable-head-left{
    border-top-left-radius: 10px;
  }

  table.natureTable thead tr th.natureTable-head-right{
    border-top-right-radius: 10px;    
  }

  table.natureTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 0px solid #D0E4F5;
  }
  table.natureTable thead th:first-child {
    border-left: none;
  }
  
  table.natureTable tfoot {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 24px;
  }
  table.natureTable tfoot td {
    font-size: 14px;
    border :0;
    padding-right: 0;
    padding-top: 40px;
  }
  table.natureTable tfoot .links {
    text-align: right;
  }
  table.natureTable tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color:#3C3C3C;
    padding: 2px 8px;
    border-radius: 4px;
    border: 1px solid #E8E8E8;
  }

  table.natureTable tfoot .links a:hover,table.natureTable tfoot .links a.active{
    background-color: #0095a9;
    color: #FFFFFF;
  }

  .form-card-title .title{
    font-size: 16px;
  }

  img.input-icon{
    width:30px;
    height: auto;  
    margin:8px 5px 5px 15px;    
  }

  .form-card{
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1400px) {
  .produk-container img{
    width: 90%;
  }
}


.link-wa-desktop{  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  gap: 10px;
  background: #4CAF50;      
  border-radius: 100px; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}

/* Preloader */

.handle-preloader {
  align-items: center;
  -webkit-align-items: center;
  display: flex;
  display: -ms-flexbox;
  height: 100%;
  justify-content: center;
  -webkit-justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999999;
  background-color: #0095A9;
}

.preloader-close{
  position: fixed;
  z-index: 99999999;
  font-size: 14px;
  background: #fff;
  padding: 5px 20px;
  cursor: pointer;
  right: 0;
  top: 0;
  font-weight: 600;
}

.handle-preloader .animation-preloader {
  position: absolute;
  z-index: 100;
}

.handle-preloader .animation-preloader .spinner{
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  height: 150px;
  margin: 0 auto 45px auto;
  width: 150px;
}

.handle-preloader .animation-preloader .txt-loading {
  text-align: center;
  user-select: none;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:before{
  animation: letters-loading 4s infinite;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  top:0;
  position: absolute;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading{
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  letter-spacing: 15px;
  display: inline-block;
  position: relative;
  font-size: 20px;
  line-height: 70px;
  text-transform: uppercase;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {animation-delay: 0.2s;}
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {animation-delay: 0.4s;}
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {animation-delay: 0.6s;}
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {animation-delay: 0.8s;}
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before { animation-delay: 1s;}
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before { animation-delay: 1.2s;}
.handle-preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before { animation-delay: 1.4s;}
.handle-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
  position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.preloader .loaded .animation-preloader {
  opacity: 0;
  transition: 0.3s ease-out;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading{
  color: #ffffff;
}

.handle-preloader .animation-preloader .txt-loading .letters-loading:before{
  color: #ffffff;
}

.handle-preloader .animation-preloader .spinner{
  border: 3px solid #ffffff;
  border-top-color: rgba(255, 255, 255, 0.5); 
}

/* AnimaciÃ³n del preloader */
@keyframes spinner {
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    transform: rotateY(-90deg);
  }

  25%,
  50% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@media screen and (max-width: 767px) {
  .handle-preloader .animation-preloader .spinner {
    height: 8em;
    width: 8em;
  }
}
@media screen and (max-width: 500px) {
  .handle-preloader .animation-preloader .spinner {
    height: 7em;
    width: 7em;
  }
  .handle-preloader .animation-preloader .txt-loading .letters-loading {font-size: 30px; letter-spacing: 10px;}
}
